@page "/tb/tb100/{id?}"
@inherits BlazorComponentBase<TB100Model, TableRowModelBase>
@attribute [Authorize(Roles = "User, Admin, Superuser")]

<SectionContent SectionName="title">@Title</SectionContent>
<PageTitle>@Title</PageTitle>

<EditForm Enhance method="post" EditContext="EditContext" OnValidSubmit="Submit" FormName="tb100">
  <DataAnnotationsValidator/>
  <ValidationSummary class="text-danger"/>
  <InputText type="hidden" @bind-Value="Model!.Nr"/>
  <input type="hidden" name="SubmitControl"/>
  <div class="row ms-0 mt-1">
    <SubmitButton class="btn btn-secondary col-md-2 me-1" imageclass="bi bi-copy-button" For="@(() => Model!.Copy)"/>
    <SubmitButton class="btn btn-secondary col-md-2 me-1" imageclass="bi bi-clipboard" For="@(() => Model!.Paste)"/>
    <SubmitButton class="btn btn-secondary col-md-2 me-1" imageclass="bi bi-cloud-sun" For="@(() => Model!.Weather)"/>
    <SubmitButton class="btn btn-secondary col-md-2 me-1" imageclass="bi bi-download" For="@(() => Model!.Download)"/>
  </div>
  <div class="row ms-0 mt-1 g-1">
    <div class="col-md-3">
      <div class="row g-0">
        <LabelInputValid rows="5" AutoPostback="" For="@(() => Model!.Before1)" VerticalColClass="form-group col" class="border-black"/>
        @* <LabelInputValid AutoPostback="" For="@(() => Model!.Diagramb1)" VerticalColClass="form-group col-md-2"/> *@
      </div>
      <div class="row mt-1 g-0">
       <LabelInputValid rows="5" AutoPostback="" For="@(() => Model!.Before2)" VerticalColClass="form-group col" class="border-black"/>
       @* <LabelInputValid AutoPostback="" For="@(() => Model!.Diagramb2)" VerticalColClass="form-group col-md-2"/> *@
      </div>
      <div class="row mt-1 g-0">
        <LabelInputValid rows="5" AutoPostback="" For="@(() => Model!.Before3)" VerticalColClass="form-group col" class="border-black"/>
        @* <LabelInputValid AutoPostback="" For="@(() => Model!.Diagramb3)" VerticalColClass="form-group col-md-2"/> *@
      </div>
    </div>
    <div class="col">
      <div class="row g-0">
        <LabelInputValid AutoPostback="x" For="@(() => Model!.Date)" VerticalColClass="form-group col" class="border-black"/>
      </div>
      <div class="row mt-1 g-0">
        <LabelInputValid rows="5" AutoPostback="" For="@(() => Model!.Entry)" VerticalColClass="form-group col" class="border-black"/>
      </div>
      <div class="row mt-1 g-0">
        <LabelInputValid type="listbox" size="3" AutoPostback="" DataList="Model!.AuswahlPositions" For="@(() => Model!.Positions)" VerticalColClass="form-group col"/>
        <SubmitButton class="btn btn-secondary col-md-1 ms-1" imageclass="bi bi-file-plus-button" For="@(() => Model!.New)"/>
        <SubmitButton class="btn btn-secondary col-md-1 ms-1" imageclass="bi bi-file-x-button" For="@(() => Model!.Remove)"/>
      </div>
      <div class="row mt-1 g-0">
        <SubmitButton class="btn btn-secondary col-md-2" For="@(() => Model!.Posbefore)"/>
        <LabelInputValid type="combobox" AutoPostback="" For="@(() => Model!.Position)" DataList="Model!.AuswahlPosition" VerticalColClass="form-group col ms-1"/>
        <SubmitButton class="btn btn-secondary col-md-2 ms-1" imageclass="bi bi-plus-lg" For="@(() => Model!.Add)"/>
      </div>
      <div class="row mt-1 g-0">
        <LabelInputValid AutoPostback="" For="@(() => Model!.Angelegt)" VerticalColClass="form-group col"/>
        <LabelInputValid AutoPostback="" For="@(() => Model!.Geaendert)" VerticalColClass="form-group col ms-1"/>
        <SubmitButton class="btn btn-secondary col-md-2 ms-1" For="@(() => Model!.Search)"/>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row g-0">
        <LabelInputValid rows="5" AutoPostback="" For="@(() => Model!.After1)" VerticalColClass="form-group col" class="border-black"/>
        @* <LabelInputValid AutoPostback="" For="@(() => Model!.Diagrama1)" VerticalColClass="form-group col-md-2"/> *@
      </div>
      <div class="row mt-1 g-0">
        <LabelInputValid rows="5" AutoPostback="" For="@(() => Model!.After2)" VerticalColClass="form-group col" class="border-black"/>
        @* <LabelInputValid AutoPostback="" For="@(() => Model!.Diagrama2)" VerticalColClass="form-group col-md-2"/> *@
      </div>
      <div class="row mt-1 g-0">
        <LabelInputValid rows="5" AutoPostback="" For="@(() => Model!.After3)" VerticalColClass="form-group col" class="border-black"/>
        @* <LabelInputValid AutoPostback="" For="@(() => Model!.Diagrama3)" VerticalColClass="form-group col-md-2"/> *@
      </div>
    </div>
  </div>
  <div class="row mt-1 g-1">
    <LabelInputValid type="label" AutoPostback="" For="@(() => Model!.Search00)" VerticalColClass="form-group col"/>
    <SubmitButton class="btn btn-secondary col-md-2 ms-1" For="@(() => Model!.Clear)"/>
  </div>
  <div class="row mt-1 g-1">
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search1)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search2)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search3)" VerticalColClass="form-group col"/>
    <LabelInputValid type="label" AutoPostback="" For="@(() => Model!.Search4)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search5)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search6)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search7)" VerticalColClass="form-group col"/>
    <LabelInputValid type="label" AutoPostback="" For="@(() => Model!.Search8)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search9)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search100)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.Search110)" VerticalColClass="form-group col"/>
    <LabelInputValid type="label" AutoPostback="" For="@(() => Model!.Search120)" VerticalColClass="form-group col"/>
  </div>
  <div class="row mt-1 g-1">
    <LabelInputValid type="combobox" AutoPostback="" For="@(() => Model!.Position2)" DataList="Model!.AuswahlPosition2" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.From)" VerticalColClass="form-group col"/>
    <LabelInputValid AutoPostback="" For="@(() => Model!.To)" VerticalColClass="form-group col"/>
  </div>
  <div class="row mt-1 g-1">
    <SubmitButton class="btn btn-secondary col" For="@(() => Model!.First)"/>
    <SubmitButton class="btn btn-secondary col ms-1" For="@(() => Model!.Back)"/>
    <SubmitButton class="btn btn-secondary col ms-1" For="@(() => Model!.Forward)"/>
    <SubmitButton class="btn btn-secondary col ms-1" For="@(() => Model!.Last)"/>
    <SubmitButton class="btn btn-secondary col ms-1" href="@($"/download/TB100/{Model!.Nr}")" download="tagebuch.txt" For="@(() => Model!.Save)"/>
    <SubmitButton class="btn btn-secondary col ms-1" For="@(() => Model!.Schliessen)"/>
  </div>
  <!-- TODO btn-primary festlegen -->
</EditForm>
