@page "/fz/fz700/{id?}"
@inherits BlazorComponentBase<FZ700Model, FZ700TableRowModel>
@attribute [Authorize(Roles = "User, Admin, Superadmin")]
@using CSBP.Services.Apis.Models;

<SectionContent SectionName="title">@Title</SectionContent>
<PageTitle>@Title</PageTitle>

<CascadingValue Value="this">
<SortableTable Table="Table" NoData="" FormName="fz700" EditAktion="true" DeleteAktion="true" CopyAktion="true" NewAktion="true" TModel="FZ700Model" TRTable="FZ700TableRowModel">
  <ChildContent>
    <TableColumn Field="@nameof(FZ700TableRowModel.Nummer)" SortField="@nameof(FzNotiz.Uid)" TModel="FZ700Model" TRTable="FZ700TableRowModel"/>
    <TableColumn Field="@nameof(FZ700TableRowModel.Thema)" SortField="@nameof(FzNotiz.Thema)" TModel="FZ700Model" TRTable="FZ700TableRowModel"/>
    @* <TableColumn Field="@nameof(FZ700TableRowModel.Notiz)" SortField="@nameof(FzNotiz.Notiz)" TModel="FZ700Model" TRTable="FZ700TableRowModel"/> *@
    <TableColumn Field="@nameof(FZ700TableRowModel.AngelegtAm)" SortField="@nameof(FzNotiz.Angelegt_Am)" TModel="FZ700Model" TRTable="FZ700TableRowModel"/>
    <TableColumn Field="@nameof(FZ700TableRowModel.AngelegtVon)" SortField="@nameof(FzNotiz.Angelegt_Von)" TModel="FZ700Model" TRTable="FZ700TableRowModel"/>
    <TableColumn Field="@nameof(FZ700TableRowModel.GeaendertAm)" SortField="@nameof(FzNotiz.Geaendert_Am)" TModel="FZ700Model" TRTable="FZ700TableRowModel"/>
    <TableColumn Field="@nameof(FZ700TableRowModel.GeaendertVon)" SortField="@nameof(FzNotiz.Geaendert_Von)" TModel="FZ700Model" TRTable="FZ700TableRowModel"/>
  </ChildContent>
</SortableTable>
</CascadingValue>

<EditForm Enhance method="post" EditContext="EditContext" OnValidSubmit="Submit" FormName="fz700">
  <DataAnnotationsValidator/>
  <ValidationSummary class="text-danger"/>
  <InputText type="hidden" @bind-Value="Model!.Nr"/>
  <input type="hidden" name="SubmitControl"/>
  <div class="modal-footer mt-2">
    <SubmitButton class="btn btn-secondary col-md-2 me-1" For="@(() => Model!.Refresh)"/>
    <SubmitButton class="btn btn-secondary col-md-2 me-1" For="@(() => Model!.Schliessen)"/>
  </div>
</EditForm>

@if (!string.IsNullOrEmpty(Model!.ModalId))
{
<div class="modal xxxfade" id="idmodal" tabindex="-1" role="dialog" aria-labelledby="lbldetails" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lbldetails">Notiz @Functions.Iif(Model?.ModalArt == "Table_Edit", "ändern", Functions.Iif(Model?.ModalArt == "Table_Delete", "löschen", Functions.Iif(Model?.ModalArt == "Table_Copy", "kopieren", "erfassen")))</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        <EditForm Enhance method="post" EditContext="ModalEditContext" OnValidSubmit="Submit" FormName="fz700modal">
          <DataAnnotationsValidator/>
          <ValidationSummary class="text-danger"/>
          <InputText type="hidden" @bind-Value="ModalModel!.Nr"/>
          <InputText type="hidden" @bind-Value="ModalModel!.ReadonlyHiddenError"/>
          <InputText type="hidden" @bind-Value="ModalModel!.Xml"/>
          <input type="hidden" name="SubmitControl"/>
          <div class="row mt-1 g-0">
            <LabelInputValid AutoPostback="" For="@(() => ModalModel!.Nummer)" VerticalColClass="form-group col-md-2"/>
            <LabelInputValid AutoPostback="" For="@(() => ModalModel!.Thema)" VerticalColClass="form-group col-md ms-1"/>
          </div>
          <div class="row mt-1 g-0">
            <LabelInputValid AutoPostback="" rows="10" For="@(() => ModalModel!.Notiz)" VerticalColClass="form-group col"/>
          </div>
          <div class="row mt-1 g-0">
            <LabelInputValid AutoPostback="" rows="10" For="@(() => ModalModel!.Tabelle)" VerticalColClass="form-group col"/>
          </div>
          <div class="row mt-1 g-0">
            <LabelInputValid AutoPostback="" For="@(() => ModalModel!.Angelegt)" VerticalColClass="form-group col-md-6"/>
            <LabelInputValid AutoPostback="" For="@(() => ModalModel!.Geaendert)" VerticalColClass="form-group col ms-1"/>
          </div>
          <div class="modal-footer mt-2 p-0">
            <SubmitButton class="btn btn-primary col-md-2" For="@(() => ModalModel!.Ok)"/>
            <button type="button" class="btn btn-secondary col-md-2 ms-1" data-bs-dismiss="modal">Abbrechen</button>
          </div>
        </EditForm>
      </div>
    </div>
  </div>
</div>
}
else
{
  <EditForm Enhance method="post" EditContext="ModalEditContext" FormName="fz700modal">
  </EditForm>
}

@code {
  [SupplyParameterFromForm]
  protected FZ700ModalModel ModalModel { get; set; } = default!;

  /// <summary>Betroffener EditContext.</summary>
  protected EditContext? ModalEditContext;

  /// <summary>Betroffener ValidationMessageStore.</summary>
  protected ValidationMessageStore? ModalMessages;
  /// <summary>True, wenn EditContext ohne Fehler.</summary>
  private bool valid;

  /// <summary>
  /// Initialisierung des Models.
  /// </summary>
  /// <param name="id">Betroffene Id.</param>
  /// <param name="model">Evtl. gelesenes Model.</param>
  /// <param name="table">Evtl. gelesenes Table-Model.</param>
  protected override void Init(string? id, FZ700Model? model = null, TableModelBase<FZ700TableRowModel>? table = null)
  {
    if (model != null)
      Model = model;
    if (Model == null)
    {
      Model = new FZ700Model
      {
        Nr = id,
      };
      Model.SetMhrf(DialogTypeEnum.New);
    }
    Model.Nr = id;
    if (table != null)
      Table = table;
    if (Table == null)
      Table = new TableModelBase<FZ700TableRowModel>
      {
        SelectedPage = 1,
        RowsPerPage = 10,
        SelectedRow = 1,
        SortColumn = $"{nameof(FzNotiz.Thema)}#+",
      };
    Table.Nr = id;

    if (ModalModel == null)
      ModalModel = new FZ700ModalModel();
    ModalModel.Nr = id;
    #pragma warning disable CS8604
    ModalEditContext = new(ModalModel);
    #pragma warning restore CS8604
    // #pragma warning disable CS0618
    // ModalEditContext.EnableDataAnnotationsValidation();
    // #pragma warning disable CS0618
    ModalMessages = new(ModalEditContext);
  }

  /// <summary>
  /// Initialisierung des Formulars kann wegen EditContext nicht asynchron sein:
  /// -Formular-Manager braucht eine Id, ansonsten Redirect mit neuer Guid.
  /// -Lesen des Models aus der Session, ansonsten Initialisierung des Models.
  /// </summary>
  protected override void OnInitialized()
  {
    if (OnInitializedFormular("FZ700", "Notizen - FZ700", Id, true))
      return;

    // Alle Submit-Aktionen, die vor dem Rendern der Komponenten ausgeführt werden müssen.
    // var submit = Model.Submit ?? "";
    // if (submit == nameof(Model.Import))
    // {
    //   var l = SaveUploadFiles("FZ700", "filehochladen");
    // }
  }

  /// <summary>
  /// Dialog wird über Tabellen-Aktion informiert und kann für den Aufruf eines modalen Dialogs benutzt werden.
  /// </summary>
  /// <param name="form">Betroffenes Postback-Formular.</param>
  /// <param name="handler">Handler aus Tabellen-Aktion.</param>
  /// <param name="id">Id aus Tabellen-Aktion.</param>
  public override void InitModal(string? form, string? handler, string? id)
  {
    if (!string.IsNullOrEmpty(handler) && !string.IsNullOrEmpty(id))
    {
      var dt = Formular.GetTableDialogType(handler);
      if (dt == DialogTypeEnum.New)
      {
        ModalModel.SetMhrf(DialogTypeEnum.New);
        Model.ModalArt = handler;
        Model.ModalId = id;
      }
      else
      {
        var i = Functions.ToInt32(id);
        if (i >= 1 && (Table?.Liste?.Count() ?? -1) < i)
        {
          var l = TableData(Table, ModalMessages);
          var ds = l.Skip(i - 1).FirstOrDefault();
          if (ds != null)
          {
            ModalModel.From(ds);
            ModalModel.SetMhrf(dt);
            Model.ModalArt = handler;
            Model.ModalId = id;
          }
        }
      }
    }
    else
    {
      var msubmit = ModalModel.Submit ?? "";
      if (msubmit == nameof(ModalModel.Ok))
      {
        var dt = Formular.GetTableDialogType(Model.ModalArt);
        var daten = ServiceDaten;
        var o = ModalModel.To(daten);
        var xml = Functions.Base64Decode(ModalModel.Xml);
        xml = FZ700ModalModel.SetMemo(xml, o.Notiz);
        var r = dt == DialogTypeEnum.Delete
          ? FactoryService.PrivateService.DeleteMemo(daten, o)
          : FactoryService.PrivateService.SaveMemo(daten, o.Uid, o.Thema, xml);
        if (r.Ok)
        {
          Model.ModalArt = null;
          Model.ModalId = null;
          TableData(Table, ModalMessages);
        }
        else
          ModalMessages?.Add(() => ModalModel, r.GetErrors());
      }
      else if (form != "fz700modal")
      {
        Model.ModalArt = null;
        Model.ModalId = null;
      }
    }
    WriteFormularModel(Model.Nr ?? "0", Model);
  }

  /// <summary>
  /// Verarbeitung des Postbacks.
  /// -Wegen Anzeige von Fehlermeldungen darf die Funktion nicht async sein (private async Task Submit()).
  /// -Speichern des geänderten Models.
  /// </summary>
  private void Submit()
  {
    if (Model == null || Messages == null)
      return;
    var submit = Model.Submit ?? "";
    if (!string.IsNullOrEmpty(submit))
    {
      valid = EditContext?.Validate() ?? false;
    }
    WriteFormularModel(Model.Nr ?? "0", Model);
    if (submit == nameof(Model.Schliessen))
    {
      CloseFormular();
    }
  }

  /// <summary>
  /// Bereitstellen der Tabellen-Daten mit Berücksichtigung der Filterung, Sortierung und Paginierung.
  /// </summary>
  /// <param name="m">Betroffenes TableRowModel.</param>
  /// <param name="messages">Betroffene Fehlermeldungen.</param>
  /// <returns>Tabellen-Daten als Liste.</returns>
  protected override List<FZ700TableRowModel> TableData(TableModelBase<FZ700TableRowModel>? m, ValidationMessageStore? messages)
  {
    var rm = m?.ReadModel;
    var daten = ServiceDaten;
    var l0 = Get(FactoryService.PrivateService.GetMemoList(daten, rm), messages);
    var l = l0?.Select(a => FZ700TableRowModel.From(a)).ToList() ?? new List<FZ700TableRowModel>();
    if (m != null && rm != null)
    {
      m.PageCount = rm.PageCount;
      m.Liste = l;
    }
    return l;
  }

  /// <summary>
  /// Kopieren von Daten im Model, die nicht über Postback gesendet werden.
  /// </summary>
  /// <param name="model">Betroffenes Model, das geändert werden soll.</param>
  /// <param name="model0">Model, aus dem kopiert werden soll.</param>
  protected override void CopyNotPostbackData(FZ700Model model, FZ700Model model0)
  {
    model.ReadonlyHiddenError = model0.ReadonlyHiddenError;
  }
}
