@using System.Linq.Expressions
@using System.Reflection
@typeparam TItem

@OnRendering
@if (!string.IsNullOrWhiteSpace(VerticalColClass))
{
  // Vertikaler Stapel von Label, Input und Validator.
  @((MarkupString)$"<div class=\"{VerticalColClass}\">")
}
@if (!hidden && !NoLabel && !string.IsNullOrWhiteSpace(LabelMu.Value))
{
  if (string.IsNullOrWhiteSpace(VerticalColClass))
  {
    <label class="col-form-label col-md-2 @CssClassLabel" for="@Id">@LabelMu</label>
  }
  else
  {
    <label class="form-label @CssClassLabel" for="@Id">@LabelMu</label>
  }
}
@if (string.IsNullOrWhiteSpace(VerticalColClass) && (!NoLabel || !NoValidation))
{
  @((MarkupString)"<div class=\"col-md-6\">")
}
@if (submit)
{
  <button @attributes="Attributes2">@LabelMu</button>
}
else if (textarea)
{
  <textarea @attributes="Attributes2">@CurrentValue</textarea>
}
else if (canvas)
{
  <canvas @attributes="Attributes2" width="400" height="200" role="presentation"></canvas>
}
else if (InputType == "date")
{
  <input @attributes="Attributes2"/>
}
else if (InputType == "checkbox")
{
  <input @attributes="Attributes2"/>
  if (disabledCheckboxTrue)
  {
    <input type="hidden" name="@NameAttributeValue" value="True">
  }
}
else if (InputType == "radio")
{
  var i = 0;
  var v = CurrentValue?.ToString();
  foreach (var t in DataList ?? new List<ListItem>())
  {
    i++;
    var l = new MarkupString($"&nbsp;{t.Value}&nbsp;&nbsp;");
    if (!string.IsNullOrWhiteSpace(VerticalColClass))
    {
      @((MarkupString)"<div class=\"text-nowrap\">")
    }
    @if (v == t.Key)
    {
      <input value="@t.Key" id="@i @Id" checked="" @attributes="Attributes2"/>
      if (disabled)
      {
        <input type="hidden" name="@NameAttributeValue" value="@v">
      }
    }
    else
    {
      <input value="@t.Key" id="@i @Id" @attributes="Attributes2"/>
    }
    @if (!hidden)
    {
      <label class="form-check-label" for="@i @Id">@l</label>
    }
    @if (!string.IsNullOrWhiteSpace(VerticalColClass))
    {
      @((MarkupString)"</div>")
    }
  }
}
else if (combobox || listbox)
{
  var i = 0;
  var v = CurrentValue?.ToString();
  <select value="@CurrentValue" @attributes="Attributes2">
  @foreach (var t in DataList ?? new List<ListItem>())
  {
    i++;
    var l = new MarkupString($"{t.Value}");
    @if (v == t.Key)
    {
      <option value="@t.Key" selected="">@l</option>
      @* if (disabled)
      {
        <input type="hidden" name="@NameAttributeValue" value="@v">
      } *@
    }
    else
    {
      <option value="@t.Key">@l</option>
    }
  }
  </select>
  @if (disabled)
  {
    <input type="hidden" name="@NameAttributeValue" value="@v">
  }
}
else if (InputType != "label") // Standard-Input
{
  <input value="@CurrentValue" @attributes="Attributes2"/>
}
@if (!hidden && TrailingLabel && !string.IsNullOrWhiteSpace(LabelMu.Value))
{
  <label class="form-label @CssClassLabel" title="@Title" for="@Id">&nbsp;@LabelMu</label>
}
@if (string.IsNullOrWhiteSpace(VerticalColClass) && (!NoLabel || !NoValidation))
{
  @((MarkupString)"</div>")
}
@if (!hidden && !NoValidation)
{
  if (string.IsNullOrWhiteSpace(VerticalColClass))
  {
    <div class="col-md-4 form-control-validation">
      <ValidationMessage class="text-danger" For="@For" />
    </div>
  }
  else
  {
    <div class="form-control-validation">
      <ValidationMessage class="text-danger" For="@For" />
    </div>
  }
}
@if (!string.IsNullOrWhiteSpace(VerticalColClass))
{
  @((MarkupString)"</div>")
}
@if (!hidden && InputType == "date")
{
  <button class="btn btn-secondary col-md-1 ms-1" type="submit" name="@NameAttributeValueSubmit" value="@(ValueSubmit)m" title="Datum minus 1 Tag" accesskey="@accesskey1">-</button>
  <button class="btn btn-secondary col-md-1 ms-1" type="submit" name="@NameAttributeValueSubmit" value="@(ValueSubmit)h" title="Heutiges Datum" accesskey="@accesskey2">h</button>
  <button class="btn btn-secondary col-md-1 ms-1" type="submit" name="@NameAttributeValueSubmit" value="@(ValueSubmit)p" title="Datum plus 1 Tag" accesskey="@accesskey3">+</button>
}
